body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    font-family: cursive;
    background-color: lightseagreen;
/*     
background: url("https://media.istockphoto.com/id/1391178054/photo/happy-new-year-2023-festive-silvester-new-years-eve-party-background-greeting-card-golden.jpg?b=1&s=170667a&w=0&k=20&c=OBtqn06MGDOHvSUsNFNXkiaQF7YURgYzgCgtyRYrwG8=");

background-size:contain; */
overflow: hidden;
}

h2{
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.Year {
    font-size: 5em;
    font-weight: bold;
    color: antiquewhite;

}

.countdown{
    margin: 30px;
    background-color: rgba(0,0,0,.5);
    width: 100%;
    color: white;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.countdown div{
    margin: 0 15px;
    text-align: center;
    font-weight:500;
    font-size: 2.5em;
    margin-top: -25px;
    width: 100px;
    position: relative;
}

.countdown div::before{
    position: absolute;
    content: "";
    bottom: -30px;
    left: 0px;
    font-size: .35em;
    line-height: 35px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    width: 100%;
    height: 35px;

}

.countdown #day::before {
    content: "Days";
}
.countdown #hour::before {
    content: "Hours";
}
.countdown #minute::before {
    content: "Minutes";
}
.countdown #second::before {
    content: "Seconds";
}

